<!DOCTYPE html>
<html>
   <head>
      <meta charset=utf-8>
      <meta name=viewport content="width=device-width,initial-scale=1">
      <title>wide_sight_frontend</title>
      <style>body {
         display: flex;
         height: 100vh;
         margin: 0;
         overflow: auto;
         }
         #ws{
         flex: 1;
         background: tan;
         overflow: hidden;
         }
         wide-sight {
         width:100%;
         height:100%;
         }
      </style>
      <link href=/static/css/app.5e78126307d8a348af20242fe169fe85.css rel=stylesheet>
   </head>
   <body>
      <div id=ws>
         <wide-sight 
			backend=http://localhost:8080 apikey=3788e7c9-ace9-4fb6-95b9-db6170b6286f 
			panokey={{pano_id}} 
			overlay=http://localhost:8080/static/test.geo.json>
		</wide-sight>
      </div>
      <script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.18290c6ecb5cb5f60821.js></script><script type=text/javascript src=/static/js/app.424ca62272b588d1156b.js></script>
   </body>
</html>

