<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>wide_sight_frontend</title><style>#ws1{
      width:1000px;
      height:600px;
      background-color: green;
    }

    #ws2{
      width:200px;
      height:200px;
      background-color: gray;
    }

    wide-sight {
      width:100%;
      height:100%;
    }</style><link href=/static/css/app.bb871273b8a7f30370abd0a956966dd2.css rel=stylesheet></head><body><div id=ws1><wide-sight backend=http://172.25.193.167:8989 apikey=375368dfd01b9bd9d26e2284ce18398adbd07e93 panokey=0329a9dd-6c57-4af0-a347-ba1133a6094c></wide-sight></div><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.381d37628fddc101ba93.js></script><script type=text/javascript src=/static/js/app.13bbb1a5daba999b2f4f.js></script></body></html>